<html>
  <head></head>
  <body>
    <p>
      Hello!
    </p>
    <p>
      Your web password for the {{ organization }} OpenVPN server has been reset.
      In order to login and set a new password, please visit {{ url }} and use
      the following credentials:
    </p>

    <b>Username:</b> {{ email }} <br>
    <b>Password:</b> {{ password }} <br>

    <p>
      If you encounter any problems or have any questions, please contact an
      application administrator for further assistance.
    </p>
    <p>
      Thank you.
    </p>
  </body>
</html>
