<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Mangle VPN</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" media="all">
    <style>
      .ui.container {
        width: 1024px;
      }

      #content {
        margin-top: 3em;
      }

      /* segments */

      .ui.segments {
        margin: 0 auto;
        width: 70%;
      }

      .ui.title.segment {
        background: #e9e9e9;
        text-align: center;
      }

      .ui.body.segment {
        padding: 2em;
      }

      /* table-form */

      table.table-form > tbody > tr > td {
        border: none !important;
      }

      table.table-form > tbody > tr > td > p.help {
        color: #888;
        margin-top: 0.4rem;
      }

      table.table-form > tbody > tr > td:first-child {
        width: 55%;
      }

      table.table-form > tbody > tr > td:last-child {
        vertical-align: middle;
      }

      table.table-form > tbody > tr > td:last-child > .input {
        width: 100%;
      }

      /* form errors */

      p.error {
        color: red;
        font-size: 0.9em;
      }

      /* form actions */

      div.form-actions {
        margin-top: 2em;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div id="mainTopNav" class="ui fixed inverted menu">
      <div class="ui container" style="width: 1024px;">
        <a href="/" class="header item">
          Mangle VPN
        </a>
      </div>
    </div>

    <div id="content" class="ui container grid">
        <div class="ui row">
          <div class="ui segments">
            <div class="ui title segment">
              <h3>
                <i class="cog icon"></i>
                Application Setup
              </h3>
            </div>

            <form class="ui form" action="install/process" method="post">
              {% csrf_token %}

              <div class="ui body segment" style="border: none;">
                <h3>General</h3>
                <div class="ui divider"></div>

                <table class="ui form very basic table table-form">
                  <tbody>
                    <tr>
                      <td>
                        <b>Organization Name</b>
                        <p class="help">
                          The name of your organization that is displayed on the web
                          header of the frontend UI and in e-mails.
                        </p>
                      </td>
                      <td>
                        <div class="ui input">
                          <input type="text" name="app_organization" value="{{ form.data.app_organization }}">
                        </div>
                        <p class="error">
                          {{ form.errors.app_organization.0 }}
                        </p>
                      </td>
                    </tr><!-- #OrganizationName -->

                    <!-- #Hostname -->
                    <tr>
                      <td>
                        <b>Hostname</b>
                        <p class="help">
                          The hostname or IP address that users will use when accessing
                          the web application. This is <i>not</i> the hostname users will use
                          when connecting to the VPN.
                        </p>
                      </td>
                      <td>
                        <div class="ui input">
                          <input type="text" name="app_hostname" value="{{ form.data.app_hostname }}">
                        </div>
                        <p class="error">
                          {{ form.errors.app_hostname.0 }}
                        </p>
                      </td>
                    </tr><!-- #Hostname -->
                  </tbody>
                </table>

                <!-- #Authentication -->
                <h3>Authentication</h3>
                <div class="ui divider"></div>

                <table class="ui form very basic table table-form">
                  <tbody>
                    <!-- #AdminEmail -->
                    <tr>
                      <td>
                        <b>Admin E-mail Address</b>
                        <p class="help">
                          The e-mail address of the initial application administrator. This
                          will be the only user allowed to login until additional users are
                          added and <b>must</b> be able to authenticate using the OAuth2
                          provider defined below.
                        </p>
                      </td>
                      <td>
                        <div class="ui input">
                          <input type="text" name="admin_email" value="{{ form.data.admin_email }}">
                        </div>
                        <p class="error">
                          {{ form.errors.admin_email.0 }}
                        </p>
                      </td>
                    </tr><!-- #AdminEmail -->

                    <!-- #OAuth2ClientID -->
                    <tr>
                      <td>
                        <b>OAuth2 Client ID</b>
                        <p class="help">
                          The OAuth2 provider client ID.
                        </p>
                      </td>
                      <td>
                        <div class="ui input">
                          <input type="text" name="oauth2_client_id" value="{{ form.data.oauth2_client_id }}">
                        </div>
                        <p class="error">
                          {{ form.errors.oauth2_client_id.0 }}
                        </p>
                      </td>
                    </tr><!-- #OAuth2ClientID -->

                    <!-- #OAuth2ClientSecret -->
                    <tr>
                      <td>
                        <b>OAuth2 Client Secret</b>
                        <p class="help">
                          The OAuth2 provider client secret.
                        </p>
                      </td>
                      <td>
                        <div class="ui input">
                          <input type="text" name="oauth2_client_secret" value="{{ form.data.oauth2_client_secret }}">
                        </div>
                        <p class="error">
                          {{ form.errors.oauth2_client_secret.0 }}
                        </p>
                      </td>
                    </tr><!-- #OAuth2ClientSecret -->
                  </tbody>
                </table><!-- #Authentication -->

                <!-- #FormActions -->
                <div class="form-actions">
                  <button type="submit" class="ui button green">
                    Install
                  </button>
                </div><!-- #FormActions -->
              </div><!-- #Body -->
            </form>
          </div>
        </div>
    </div>
  </body>
</html>
